pycache/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
.env
config.py
secrets.py
*.log
*.csv
*.json
*.zip
.DS_Store
Thumbs.db
warning: in the working copy of 'GP_2_Scraping_&_API.ipynb', LF will be replaced by CRLF the next time Git touches it